@media only screen and (max-width: 440px) {
  #main {
    background-size: 360%;
    background-position: 36% 40%;
    height: 100vh;
    border-bottom-left-radius: 100px;
    color: #ffffff;
    text-align: center;

    .navbar {
      font-family: "Ubuntu", sans-serif;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 8vh 7vw;

      .links {
        display: none;
        // width: 20vw;
        // display: flex;
        // justify-content: space-between;
        // align-items: center;
        // margin-left: -30%;
        // cursor: pointer;
        // .link {
        //   display: flex;
        //   align-items: center;

        //   &::after {
        //     content: url("../images/icon-arrow-light.svg");
        //     margin-left: 0.2vw;
        //     transition: all 0.3s ease-in-out;
        //   }
        //   &.activeBtn::after {
        //     margin-top: 3px;
        //     transform: rotate(180deg);
        //     margin-left: 5px;
        //     transition: all 0.3s ease-in-out;
        //   }

        //   &:hover {
        //     text-decoration: underline;
        //   }

        //   .menu {
        //     display: none;
        //   }

        //   .active {
        //     position: absolute;
        //     margin-left: -1.5vw;
        //     margin-top: 3vh;
        //     background-color: #ffffff;
        //     color: #000;
        //     padding: 4vh 4vw 4vh 2vw;
        //     line-height: 2;
        //     border-radius: 10px;
        //     display: flex;
        //     flex-direction: column;
        //     justify-content: space-evenly;
        //     align-items: flex-start;

        //     p {
        //       &:hover {
        //         font-weight: bold;
        //       }
        //     }
        //   }
        // }
      }

      .signIn-buttons {
        display: none;
        button {
          border: none;
          margin: 0 1vw;
          font-size: 1.1vw;
          font-weight: bold;
          cursor: pointer;
          transition: all 0.3s ease;
        }
        .login {
          background-color: transparent;
          color: #ffffff;

          &:hover {
            text-decoration: underline;
          }
        }
        .signUp {
          padding: 1.7vh 2.5vw;
          border-radius: 20px;
          color: hsl(355, 100%, 74%);

          &:hover {
            background-color: hsl(355, 100%, 74%);
            color: #ffffff;
          }
        }
      }
      &::after {
        content: url("../images/icon-hamburger.svg");
      }
    }

    #main-body {
      margin-top: 12vh;

      h1 {
        font-size: 9vw;
        padding: 0 2.5rem;
      }
      p {
        font-size: 4.5vw;
        padding: 3vh 10vw;
      }

      .buttons {
        margin-top: 2vh;
        button {
          padding: 3vh 6vw;
          margin: 0 2vw;
          font-size: 4.5vw;
        }
      }
    }
  }

  #design {
    margin-top: 15vh;
    margin-bottom: 18vh;
    h1 {
      color: hsl(208, 49%, 24%);
      position: relative;
      transform: translate(0%, 0%);
      left: 0%;
      top: 0%;
      font-size: 7.5vw;
      text-align: center;
    }
    .design-container {
      display: flex;
      flex-direction: column-reverse;
      width: 100vw;
      margin-top: 7vh;

      .left {
        width: 100vw;
        padding-top: 10vh;
        padding-left: 10vw;
        padding-right: 11vw;
        text-align: center;

        h2 {
          font-size: 7vw;
          margin-bottom: 4vh;
        }
        p {
          word-spacing: 3px;
          margin-bottom: 7vh;
        }
      }
      .right {
        width: 100vw;
        img {
          width: 100%;
        }
      }
    }
  }

  #infra {
    background-image: linear-gradient(
        hsla(237, 23%, 32%, 0.9),
        hsla(237, 17%, 21%, 0.9)
      ),
      url(../images/bg-pattern-circles.svg);
    background-size: 170%;
    background-position: 45% 110%;
    height: auto;
    width: 100vw;
    color: #ffffff;
    display: flex;
    flex-direction: column;
    border-top-right-radius: 100px;
    border-bottom-left-radius: 100px;
    margin-top: 40vh;

    .infra-left {
      width: 100vw;
      position: relative;

      img {
        width: 100%;
        position: absolute;
        top: -35vh;
        left: 0;
      }
    }
    .infra-right {
      width: 100vw;
      padding: 45vh 0 20vh;
      text-align: center;
      h1 {
        font-size: 10vw;
        margin-bottom: 3vh;
      }
      p {
        font-size: 3.8vw;
        padding: 0 10vw;
        line-height: 2;
        word-spacing: 3px;
      }
    }
  }

  #tool {
    margin-top: 0vh;
    display: flex;
    flex-direction: column;
    width: 100vw;
    .tool-left {
      width: 100vw;
      background-image: url("../images/illustration-laptop-mobile.svg");
      height: 100vh;
      background-size: 140%;
      background-repeat: no-repeat;
      background-position: center;
    }
    .tool-right {
      text-align: center;
      width: 100vw;
      padding: 0 5vw;

      h2 {
        font-size: 7vw;
        margin-bottom: 6vh;
      }
      p {
        font-size: 4.5vw;
        color: hsl(207, 13%, 34%);
        line-height: 2;
        word-spacing: 4px;
        margin-bottom: 10vh;
      }
    }
  }

  #footer {
    background-color: hsl(240, 10%, 16%);
    color: #ffffff;
    border-top-right-radius: 100px;
    padding: 10vh 15vw 10vh 0;
    margin-top: 15vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: space-between;

    .footer-logo {
      margin-bottom: 6vh;
    }

    h4 {
      margin: 5vh 0;
      font-size: 4.5vw;
      font-weight: bold;
    }

    p {
      line-height: 2;
      cursor: pointer;
      &:hover {
        text-decoration: underline;
      }
    }
  }

  .attribution {
    font-size: 15px;
    text-align: center;
    background-color: hsl(240, 10%, 16%);
    color: #ffffff;
    padding-bottom: 2vh;
  }
  .attribution a {
    color: hsl(228, 45%, 44%);
  }
}
